@model Account
<h1>Формаи бақайдгирӣ</h1>
<form asp-action="RegisterPost" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required/>

        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" required/>
    </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>