@model Message

<h1>MessagePage</h1>
<div style="display:inline;">
    <div style=" border-radius: 20px; background-color: rgb(125, 129, 127); hight: 30%; padding:  30px;width: 40%; ">
        <form asp-action="MessagePost"  method="post">
            <label  style="padding:10px; color:aliceblue"class="control-label">Паёматонро ворид намоед.</label>
            <input  asp-for="Matn" type="text"  class="form-control" style="Width: 100%; height: 30%" required/><hr>
            <button type="submit" class="btn btn-primary">Воридкунӣ</button>
        </form> 
    </div>      
</div>
